.home {
  padding: 40px 0;
  font-family: "Poppins", sans-serif;
}

.main-header {
  text-align: center;
  margin-bottom: 30px;
}

.main-header h1 {
  font-size: 34px;
  font-weight: 700;
  color: #0d47a1;
}

.subtext {
  font-size: 18px;
  color: #555;
}

/* GRID */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 25px;
  padding: 0 20px;
}

/* CARD */
.card {
  background: #fff;
  padding: 18px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0px 6px 12px rgba(0,0,0,0.12);
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 10px 20px rgba(0,0,0,0.18);
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: contain;
  transition: .4s ease;
}

.card:hover img {
  transform: scale(1.07);
}

.card h3 {
  margin: 12px 0;
  font-size: 20px;
  font-weight: 600;
  color: #0d1b2a;
}

.specs li {
  font-size: 14px;
  margin: 4px 0;
  list-style: none;
  color: #444;
}

.buy-btn {
  display: inline-block;
  padding: 10px 16px;
  background: #0d47a1;
  color: #fff;
  margin-top: 12px;
  border-radius: 50px;
  font-weight: 600;
  text-decoration: none;
  transition: .3s;
}

.buy-btn:hover {
  background: #000;
  transform: scale(1.05);
}

/* BADGES */
.badge {
  font-size: 13px;
  padding: 6px 14px;
  border-radius: 50px;
  position: absolute;
  top: 14px;
  left: 14px;
  font-weight: 600;
  color: #fff;
  margin-top:5px;
}

.bestseller { background: #ff6f00; }
.hot { background: #d32f2f; }
.new { background: #6a1b9a; }
.trending { background: #0277bd; }
.limited { background: #d84315; }
.student { background: #2e7d32; }
.premium { background: #37474f; }
.apple { background: #000; }

/* RESPONSIVE */
@media (max-width: 768px) {
  .main-header h1 { font-size: 28px; }
}
@media (max-width: 480px) {
  .main-header h1 { font-size: 24px; }
  .subtext { font-size: 16px; }
}